@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #485d6b;
  line-height: 1;
  font-family: Montserrat;
  font-size: .9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #f1f2f6
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  width: 100%;
  max-width: 94.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,92.5rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
.mobile-elements {
  display: none
}
.icon-menu--open {
  margin-right: auto;
  z-index: 1
}
.menu-open .icon-menu--open {
  z-index: 0
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #fff;
  padding: 0;
  width: 100%;
  max-width: 900px
}
.lock .popup__content {
  visibility: visible
}
.popup__header {
  background-color: #485d6b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 30px
}
.popup__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #fff
}
.popup__body {
  background-color: #fff;
  padding: 23px 30px
}
#all-actions .popup__content,
#newtarget .popup__content {
  max-width: 460px
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.page {
  padding-top: 100px;
  padding-bottom: 100px
}
.main-title__container {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative
}
.main-title__title {
  font-weight: 700;
  line-height: 100%;
  color: #485d6b
}
.main-title .actions {
  display: none
}
.select_form {
  position: relative;
  font-weight: 500!important;
  font-size: 17px!important;
  line-height: 141%;
  color: #485d6b!important
}
.select-mini .select_form {
  border: 1px solid #e3e5ed;
  border-radius: 4px;
  padding: 4px 12px 1px
}
.select-mini .select__title {
  width: calc(100% - 15px)
}
.select-mini .select__options {
  margin-left: -12px;
  padding: 10px 15px 5px 22px
}
.select__title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 5px 10px 10px;
  width: 100%
}
.select__title::after {
  content: "";
  display: block;
  width: 15px;
  height: 8px;
  background: url(../img/icon-select.svg) center center no-repeat
}
.select__value {
  width: 100%;
  text-align: left
}
._select-open {
  box-shadow: 0 0 6px 0 rgba(0,0,0,.05)
}
._select-open .select__title::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.select__options {
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.05);
  padding: 10px 10px 5px;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border-radius: 4px
}
.select__option {
  white-space: nowrap;
  padding: 5px 0 8px
}
.select__scroll {
  width: -webkit-min-content;
  width: min-content
}
.select__content {
  font-family: Montserrat!important;
  font-weight: 500!important;
  font-size: 17px!important;
  line-height: 141%;
  color: #485d6b!important;
  letter-spacing: initial
}
.form-row {
  display: flex;
  gap: 30px
}
.form-row__col {
  flex: 0 1 50%
}
.form-row__label {
  font-weight: 600;
  font-size: 17px;
  line-height: 141%;
  margin-bottom: 10px
}
textarea {
  border: 1px solid #e3e5ed;
  border-radius: 4px;
  padding: 13px 20px;
  font-weight: 500;
  outline: 0
}
input {
  border: 1px solid #e3e5ed;
  border-radius: 4px;
  padding: 13px 20px;
  font-weight: 500;
  outline: 0
}
td input {
  padding: 11px 20px
}
input:focus,
textarea:focus {
  border-color: #7715cd
}
.color-picker-wrapper {
  position: relative;
  display: inline-block;
  width: 100%
}
.color-picker-wrapper input[type=color] {
  opacity: 0;
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer
}
.color-placeholder {
  display: inline-block;
  border-radius: 4px;
  width: 100px;
  height: 23px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer
}
.color-picker-wrapper input[type=color]:focus+.color-placeholder {
  border-color: #007bff
}
.color-picker-wrapper input[type=color].selected+.color-placeholder {
  background-color: rgba(0,0,0,0);
  color: transparent;
  background-image: none
}
#colorPicker {
  padding: 0
}
.icon-colour {
  position: absolute;
  top: -4px;
  right: 4px;
  pointer-events: none
}
.checkbox__input {
  display: none
}
.checkbox__label {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 1px solid #e3e5ed;
  border-radius: 4px;
  cursor: pointer;
  position: relative
}
.checkbox__input:checked+.checkbox__label {
  background-color: #485d6b
}
.checkbox__input:checked+.checkbox__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 8px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.blue-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 15px 40px;
  background-color: #7715cd;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 8px;
  cursor: pointer
}
.mt-20 {
  margin-top: 20px
}
.mt-30 {
  margin-top: 30px
}
.mb-20 {
  margin-bottom: 20px
}
.mb-30 {
  margin-bottom: 30px
}
.to-left {
  margin-left: auto
}
.to-center {
  margin-left: auto;
  margin-right: auto
}
.text-align-right {
  text-align: right
}
.weight-600 {
  font-weight: 600!important
}
.weight-700 {
  font-weight: 700!important
}
.grey-line {
  width: 100%;
  height: 1px;
  background-color: #f7f7f7
}
.nowrap {
  white-space: nowrap
}
p {
  line-height: 160%;
  margin-bottom: 6px
}
.header {
  background-color: #29353d;
  padding-top: 14px;
  padding-bottom: 14px;
  position: fixed;
  width: 100%;
  z-index: 5
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px
}
.header__logo {
  display: block;
  width: 120px;
  height: 70px
}
.header__logo img {
  width: 100%
}
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px
}
.menu-header__right-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px
}
.menu-item {
  padding: 7px 14px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative
}
.menu-item img {
  display: none
}
.menu-item__more-links {
  cursor: pointer
}
.more-menu-items {
  min-width: 315px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
  border-radius: 4px
}
.more-menu-items .menu-item {
  padding-left: 10px;
  padding-right: 10px
}
.more-menu-items a {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%
}
.more-menu-items img {
  display: block
}
.current-menu-item {
  background-color: #485d6b
}
.notitfications {
  display: flex;
  justify-content: center;
  align-items: center
}
.notitfications img {
  margin-top: 18px
}
.notitfications span {
  margin-bottom: 18px;
  margin-left: -4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7715cd;
  padding: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  border-radius: 50%;
  color: #fff
}
.drafts-count {
  display: none
}
.user-button {
  overflow: hidden;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: relative;
  border: 1px solid #fff;
  cursor: pointer
}
.user-button img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.content__blocks {
  display: flex;
  gap: 30px;
  width: 100%
}
.content {
  display: flex;
  gap: 30px
}
.content__col {
  display: flex;
  flex-direction: column;
  gap: 30px
}
.content__col--wide {
  flex: 1 1 100%
}
.content__col--narrow {
  flex: 0 0 320px
}
.content-block {
  padding: 40px 30px 30px;
  background-color: #fff;
  border-radius: 4px
}
.top-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}
.top-line__title {
  font-weight: 700;
  line-height: 100%;
  color: #485d6b
}
.top-line__select {
  margin-left: 30px;
  margin-right: auto
}
.top-line__select .select_form {
  border: 1px solid #e3e5ed;
  border-radius: 4px
}
.top-line__select .select__title {
  margin: 5px 10px 5px 10px
}
.top-line__amount {
  font-weight: 600;
  text-align: right
}
.button-create-invoice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7715cd;
  gap: 8px;
  border-radius: 4px;
  padding: 18px 25px
}
.button-create-invoice img {
  display: block;
  width: 24px;
  height: 24px
}
.button-create-invoice span {
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  color: #fff
}
.content-block-1__row {
  display: flex;
  gap: 30px
}
.content-block-1__col--left {
  flex: 0 1 33%
}
.content-block-1__col--left img {
  width: 100%
}
.content-block-1__col--right {
  flex: 0 1 66%
}
.statistic {
  margin-top: 50px
}
.statistic__row {
  display: flex;
  gap: 20px
}
.statistic__row:not(:last-child) {
  margin-bottom: 24px
}
.statistic__col {
  flex: 0 1 55%;
  display: flex;
  align-items: center;
  gap: 18px;
  font-weight: 500;
  font-size: 17px;
  line-height: 141%
}
.statistic__col--right {
  flex: 0 1 45%;
  justify-content: flex-end
}
.item-1__color,
.item-2__color,
.item-3__color,
.item-4__color {
  width: 19px;
  flex: 0 0 19px;
  height: 19px;
  border-radius: 50%
}
.item-1__color {
  background: #15a1cd
}
.item-2__color {
  background: #156acd
}
.item-3__color {
  background: #15cdac
}
.item-4__color {
  background-color: #7715cd
}
.total {
  padding-top: 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%
}
.content-block-2__title {
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #485d6b
}
.content-block-2__subtitle {
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #485d6b
}
.content-block-2__diagram img {
  width: 100%
}
.content-block-2__bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -20px 0 0;
  width: calc(100% + 20px)
}
.content-block-2__bottom-row .select_form {
  padding: 0 25px 0 0
}
.content-block-2__bottom-row .select__content {
  white-space: nowrap
}
.content-block-2__col {
  flex: 0 1 50%
}
.content-block-2__col--right {
  display: flex;
  justify-content: flex-end
}
.set-target {
  display: block;
  padding: 0 0 5px;
  font-size: 18px;
  font-weight: 500
}
.content-block-3 .top-line {
  padding-bottom: 30px;
  border-bottom: 1px solid #e3e5ed;
  margin-bottom: 30px
}
.content-block-3__bottom-row {
  padding-top: 15px;
  display: flex;
  justify-content: flex-end
}
.view-all {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: #485d6b
}
.content-block-4__title {
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #485d6b;
  padding-bottom: 30px;
  border-bottom: 1px solid #f7f7f7
}
.content-block-4 .content-block-4__bottom-row {
  display: flex;
  justify-content: flex-end;
  margin: 0 -20px 0 0;
  width: calc(100% + 20px)
}
.content-block-4 .content-block-4__bottom-row .select_form {
  padding: 0 25px 0 0
}
.content-block-4 .content-block-4__bottom-row .select__content {
  white-space: nowrap
}
.five-clients {
  margin-bottom: 15px
}
.five-clients__client {
  display: flex;
  align-items: center;
  gap: 14px
}
.five-clients__client:not(:last-child) {
  margin-bottom: 60px
}
.five-clients__client--1 .client-circle {
  background-color: #f8d3e0;
  color: #c36281
}
.five-clients__client--2 .client-circle {
  background-color: #d3d7f8;
  color: #6266c3
}
.five-clients__client--3 .client-circle {
  background-color: #d3f1f8;
  color: #62a0c3
}
.five-clients__client--4 .client-circle {
  background-color: #f8e5d3;
  color: #c37962
}
.five-clients__client--5 .client-circle {
  background-color: #e8d3f8;
  color: #bb62c3
}
.client-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 15px;
  text-align: center
}
.client-name {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: #757575
}
#diagram1 {
  background: conic-gradient(#15a1cd 25%,#156acd 25% 50%,#15cdac 50% 75%,#7715cd 75%);
  border-radius: 50%;
  width: 260px;
  height: 260px
}
.diagram1 {
  position: relative;
  margin: 0 auto
}
.diagram1__center-area {
  position: absolute;
  top: 33px;
  left: 33px;
  width: 194px;
  height: 194px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
.diagram1__number {
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 3px
}
.diagram1__text {
  font-weight: 600;
  font-size: 22px;
  color: #757575
}
#diagram2 {
  border-radius: 50%;
  width: 260px;
  height: 260px
}
.diagram2 {
  position: relative;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.diagram2__center-area {
  position: absolute;
  top: 33px;
  left: 33px;
  width: 194px;
  height: 194px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
.diagram2__number {
  position: relative;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  width: 143px;
  height: 143px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 25px 0 rgba(0,0,0,.1);
  z-index: 3;
  margin: -70px auto 30px
}
.diagram2-wrapper {
  width: 260px;
  height: 130px;
  overflow: hidden;
  margin: 0 auto
}
.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse
}
.table thead {
  background-color: #f1f2f6;
  font-weight: 600;
  font-size: 15px;
  line-height: 160%
}
.table td,
.table th {
  text-align: left;
  padding: 14px 14px 14px 7%
}
.table td {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%
}
.table tbody tr {
  border-top: 1px solid #f1f2f6
}
.table-pc {
  display: table
}
.table-mobile {
  display: none
}
.content-block-3 .select-mini {
  margin-top: -6px
}
.content-block-3 .select-mini .select_form {
  padding: 1px 12px
}
.choice-of-currency__select {
  margin-bottom: 22px
}
.choice-of-currency__select .select__title {
  border: 1px solid #e3e5ed;
  border-radius: 4px;
  margin: 0;
  padding: 13px 20px
}
.choice-of-currency__select .select__options {
  padding: 10px 18px 5px
}
.choice-of-colour__label,
.choice-of-currency__label {
  font-weight: 600;
  font-size: 17px;
  line-height: 141%;
  margin-bottom: 10px
}
.choice-of-colour__select {
  border: 1px solid #e3e5ed;
  border-radius: 4px;
  margin: 0;
  padding: 13px 10px 13px 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  justify-content: space-between;
  align-items: center
}
.table-create-invoice tbody tr {
  position: relative
}
.table-create-invoice tbody tr::after {
  content: "";
  position: absolute;
  top: 17px;
  right: -20px;
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/icon-close-in-circle.svg) center center no-repeat;
  cursor: pointer
}
.table-create-invoice td {
  vertical-align: top
}
.table-create-invoice textarea {
  max-height: 90px
}
.wrapper-scroll {
  overflow-x: auto;
  overflow-y: hidden
}
.table-invoice tbody tr::after {
  content: "";
  display: none
}
.table-create-invoice td,
.table-create-invoice th {
  text-align: left;
  padding: 14px 7px
}
.table-create-invoice td input,
.table-create-invoice td textarea,
.table-create-invoice th input,
.table-create-invoice th textarea {
  padding: 11px 13px
}
.table-create-invoice.table-mobile {
  font-weight: 500;
  font-size: 12px;
  border-collapse: separate;
  border-spacing: 0 10px
}
.table-create-invoice.table-mobile tbody tr {
  background-color: #f4f1ff;
  border: 1px solid #e3e5ed;
  border-radius: 4px;
  overflow: hidden
}
.table-create-invoice.table-mobile tbody tr::after {
  content: "";
  top: 10px;
  right: 10px;
  background: url(../img/icon-close-black.svg) 0 0 no-repeat
}
.table-create-invoice.table-mobile tbody tr::before {
  content: "";
  position: absolute;
  display: block;
  height: 24px;
  width: 24px;
  bottom: 10px;
  right: 10px;
  background: url(../img/icon-edit.svg) 0 0 no-repeat;
  cursor: pointer
}
.table-create-invoice.table-mobile tbody tr td {
  padding-top: 35px;
  padding-bottom: 35px
}
.table-create-invoice.table-mobile .table__date {
  font-weight: 700;
  text-align: left!important;
  font-size: 12px;
  justify-content: flex-start
}
.table-create-invoice.table-mobile .table__amount {
  text-align: right
}
.table-create-invoice.table-mobile .table__total {
  text-align: right
}
.summary__content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto
}
.summary__row {
  display: flex;
  gap: 150px;
  font-weight: 500;
  font-size: 15px;
  line-height: 160%
}
.summary__col {
  flex: 0 1 50%;
  white-space: nowrap;
  padding: 14px
}
.summary__col--right {
  text-align: right
}
.add-note {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 160%;
  color: #7715cd;
  cursor: pointer
}
.created {
  margin-top: 65px;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  text-align: right
}
.created a {
  color: #7715cd
}
.create-invoice-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px
}
.create-invoice-buttons .grey-button {
  background-color: #757575
}
.create-invoice-buttons .blue-button,
.create-invoice-buttons .grey-button {
  flex: 0 1 215px
}
.top-line--invoice .top-line__col {
  min-width: 185px
}
.invoice-menu ul li {
  padding: 13px 0;
  border-bottom: 1px solid #f7f7f7;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 160%
}
.invoice-menu ul li img,
.invoice-menu ul li span {
  cursor: pointer
}
.invoice-info {
  font-size: 15px;
  line-height: 160%;
  font-weight: 500;
  white-space: nowrap;
  padding-top: 15px
}
.invoice-info__row {
  width: 100%;
  display: flex;
  gap: 20px
}
.invoice-info__col {
  padding: 4px 0;
  flex: 0 0 calc(50% - 10px)
}
.invoice-info bold {
  font-weight: 600
}
.invoice-row {
  width: 100%;
  display: flex;
  gap: 30px
}
.invoice-row__col {
  flex: 0 1 50%;
  font-weight: 500;
  font-size: 15px;
  line-height: 160%
}
.invoice-row__label {
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
  color: #757575;
  margin-top: 25px;
  margin-bottom: 10px
}
.invoice-row strong {
  font-weight: 700
}
.central-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: #757575
}
.bg-gray {
  background-color: #f1f2f6
}
.details__row {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px
}
.details__row a {
  padding-bottom: 12px;
  font-weight: 600;
  color: #7715cd
}
.details__col {
  flex: 0 1 40%;
  padding: 0 20px 0 0
}
.name {
  margin-bottom: 16px;
  font-size: 15px!important;
  line-height: 120%!important
}
.blue-button.new-row {
  font-weight: 600;
  font-size: 14px;
  padding: 9px 14px
}
.new-row__items-wrapper {
  padding: 0;
  overflow: hidden;
  margin-top: 8px;
  height: 0;
  position: absolute
}
.new-row__items {
  background-color: #7715cd;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
  border-radius: 4px;
  width: 215px;
  padding: 7px 0;
  opacity: .5;
  -webkit-transform: translate(0,-100vh);
  transform: translate(0,-100vh);
  transition: all .3s ease 0s
}
.new-row__item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 5px 14px;
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: #fff;
  cursor: pointer
}
.new-row__item:not(:last-child) {
  border-bottom: .5px solid #f7f7f7
}
.new-row-wrapper._open .new-row__items {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.new-row-wrapper._open .new-row__items-wrapper {
  height: auto
}
.TimePick_POPUP .second {
  display: none
}
#cobwq_0 {
  opacity: 0;
  width: 50px;
  height: 30px;
  -webkit-transform: translate(-25px,0);
  transform: translate(-25px,0)
}
.TimePick_POPUP {
  position: absolute;
  top: calc(100% + 8px)!important;
  bottom: initial!important;
  left: initial!important;
  right: 13px!important;
  margin: 0!important
}
.table-create-invoice td {
  min-width: 90px
}
.table-create-invoice td:last-child {
  min-width: initial
}
.table-create-invoice td.table-create-invoice-textarea {
  width: 50%;
  min-width: 50%!important
}
.table-create-invoice td:first-child {
  padding-left: 0
}
.table-create-invoice td:last-child {
  padding-right: 0
}
body.the-datepicker-page {
  overflow: hidden
}
.the-datepicker__container {
  position: absolute;
  left: auto;
  top: auto;
  z-index: 99
}
.the-datepicker__container.the-datepicker__container--responsive {
  position: fixed;
  left: 0;
  top: 0
}
.the-datepicker__container .the-datepicker__main {
  border-top-left-radius: 0
}
.the-datepicker__container.the-datepicker__container--over .the-datepicker__main {
  border-top-left-radius: .3em;
  border-bottom-left-radius: 0
}
.the-datepicker__container.the-datepicker__container--left .the-datepicker__main {
  border-top-left-radius: .3em;
  border-top-right-radius: 0
}
.the-datepicker__container.the-datepicker__container--over.the-datepicker__container--left .the-datepicker__main {
  border-bottom-left-radius: .3em;
  border-top-right-radius: .3em;
  border-bottom-right-radius: 0
}
.the-datepicker__main {
  width: auto;
  height: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .3em;
  line-height: 1em;
  box-sizing: border-box;
  overflow-y: auto
}
.the-datepicker__main.the-datepicker__main--darkmode {
  background-color: #000;
  border-color: #494949
}
.the-datepicker__container--responsive .the-datepicker__main {
  width: 100vw;
  height: 100vh
}
.the-datepicker__main .the-datepicker__header {
  padding: .4em .4em 0 .4em
}
.the-datepicker__main .the-datepicker__body {
  margin-top: 1em;
  padding: 0 .4em .4em .4em;
  overflow-x: hidden;
  overflow-y: hidden
}
.the-datepicker__main .the-datepicker__body.the-datepicker__body--swipeable {
  touch-action: none
}
.the-datepicker__main th.the-datepicker__week-day {
  padding: .5em 0;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: #666;
  font-size: .85em
}
.the-datepicker__main a.the-datepicker__button {
  display: block;
  width: 2.1em;
  padding: .6em 0;
  text-decoration: none;
  text-align: center;
  color: #007eff;
  border-radius: .3em
}
.the-datepicker__main a.the-datepicker__button:hover {
  background-color: #d1e8ff;
  text-decoration: none
}
.the-datepicker__main--darkmode.the-datepicker__main a.the-datepicker__button:hover {
  background-color: #003b75
}
.the-datepicker__main a.the-datepicker__day-button {
  width: auto
}
.the-datepicker__container .the-datepicker__main a.the-datepicker__day-button {
  width: 2.1em
}
.the-datepicker__container.the-datepicker__container--responsive .the-datepicker__main a.the-datepicker__day-button {
  width: auto
}
.the-datepicker__main a.the-datepicker__year-button {
  width: auto
}
.the-datepicker__main a.the-datepicker__year-cell-button {
  width: auto
}
.the-datepicker__container .the-datepicker__main a.the-datepicker__year-cell-button {
  width: 3.825em
}
.the-datepicker__container.the-datepicker__container--responsive .the-datepicker__main a.the-datepicker__year-cell-button {
  width: auto
}
.the-datepicker__main .the-datepicker__title {
  display: inline-block;
  width: 70%
}
.the-datepicker__main .the-datepicker__title-content {
  display: inline-block;
  padding: .5em
}
.the-datepicker__main .the-datepicker__control {
  display: inline-block;
  width: 30%;
  text-align: right
}
.the-datepicker__main .the-datepicker__close,
.the-datepicker__main .the-datepicker__reset {
  display: inline-block;
  font-weight: 700
}
.the-datepicker__main .the-datepicker__navigation {
  margin-top: .3em
}
.the-datepicker__main .the-datepicker__go {
  display: inline-block;
  width: 15%
}
.the-datepicker__main .the-datepicker__go a.the-datepicker__button {
  display: inline-block;
  font-weight: 700
}
.the-datepicker__main .the-datepicker__go-next {
  text-align: right
}
.the-datepicker__main .the-datepicker__state {
  display: inline-block;
  width: 70%
}
.the-datepicker__main .the-datepicker__month {
  display: inline-block;
  width: 62%;
  text-align: center
}
.the-datepicker__main .the-datepicker__year {
  display: inline-block;
  width: 38%;
  text-align: center
}
.the-datepicker__main .the-datepicker__month-year {
  text-align: center
}
.the-datepicker__main select.the-datepicker__select {
  font-size: .9em;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000
}
.the-datepicker__main--darkmode.the-datepicker__main select.the-datepicker__select {
  background-color: #000;
  color: #cdcdcd
}
.the-datepicker__main table.the-datepicker__table {
  width: 100%;
  border-collapse: collapse
}
.the-datepicker__container .the-datepicker__main table.the-datepicker__table {
  width: auto
}
.the-datepicker__container.the-datepicker__container--responsive .the-datepicker__main table.the-datepicker__table {
  width: 100%
}
.the-datepicker__main td.the-datepicker__cell {
  padding: 0
}
.the-datepicker__main td.the-datepicker__cell a.the-datepicker__button {
  padding: .1em;
  margin: 0 auto
}
.the-datepicker__main td.the-datepicker__cell a.the-datepicker__button .the-datepicker__button-content {
  display: block
}
.the-datepicker__main td.the-datepicker__cell a.the-datepicker__button .the-datepicker__button-content.the-datepicker__day-content {
  padding: .6em 0
}
.the-datepicker__main td.the-datepicker__cell a.the-datepicker__button .the-datepicker__button-content.the-datepicker__year-cell-content {
  padding: .755em 0
}
.the-datepicker__main td.the-datepicker__cell a.the-datepicker__button .the-datepicker__button-content {
  text-align: center;
  border-radius: .3em
}
.the-datepicker__main td.the-datepicker__cell a.the-datepicker__button:hover {
  background-color: rgba(0,0,0,0)
}
.the-datepicker__main td.the-datepicker__cell a.the-datepicker__button:hover .the-datepicker__button-content {
  background-color: #d1e8ff
}
.the-datepicker__main--darkmode.the-datepicker__main td.the-datepicker__cell a.the-datepicker__button:hover .the-datepicker__button-content {
  background-color: #003b75
}
.the-datepicker__main td.the-datepicker__cell--highlighted a.the-datepicker__button .the-datepicker__button-content {
  background-color: #d1e8ff
}
.the-datepicker__main--darkmode.the-datepicker__main td.the-datepicker__cell--highlighted a.the-datepicker__button .the-datepicker__button-content {
  background-color: #003b75
}
.the-datepicker__main td.the-datepicker__day--outside a.the-datepicker__button {
  color: #8ac4ff
}
.the-datepicker__main--darkmode.the-datepicker__main td.the-datepicker__day--outside a.the-datepicker__button {
  color: #002a41
}
.the-datepicker__main td.the-datepicker__cell--unavailable a.the-datepicker__button {
  color: #aaa
}
.the-datepicker__main--darkmode.the-datepicker__main td.the-datepicker__cell--unavailable a.the-datepicker__button {
  color: #323232
}
.the-datepicker__main td.the-datepicker__cell--unavailable a.the-datepicker__button:hover .the-datepicker__button-content {
  background-color: rgba(0,0,0,0)
}
.the-datepicker__main--darkmode.the-datepicker__main td.the-datepicker__cell--unavailable a.the-datepicker__button:hover .the-datepicker__button-content {
  background-color: rgba(0,0,0,0)
}
.the-datepicker__main td.the-datepicker__cell--selected a.the-datepicker__button,
.the-datepicker__main td.the-datepicker__cell--selected.the-datepicker__cell--highlighted a.the-datepicker__button {
  color: #fff
}
.the-datepicker__main--darkmode.the-datepicker__main td.the-datepicker__cell--selected a.the-datepicker__button,
.the-datepicker__main--darkmode.the-datepicker__main td.the-datepicker__cell--selected.the-datepicker__cell--highlighted a.the-datepicker__button {
  color: #fff
}
.the-datepicker__main td.the-datepicker__cell--selected a.the-datepicker__button .the-datepicker__button-content,
.the-datepicker__main td.the-datepicker__cell--selected.the-datepicker__cell--highlighted a.the-datepicker__button .the-datepicker__button-content {
  background-color: #007eff
}
.the-datepicker__main td.the-datepicker__cell--selected a.the-datepicker__button:hover .the-datepicker__button-content,
.the-datepicker__main td.the-datepicker__cell--selected.the-datepicker__cell--highlighted a.the-datepicker__button:hover .the-datepicker__button-content {
  background-color: #007eff
}
.the-datepicker__main--darkmode.the-datepicker__main td.the-datepicker__cell--selected a.the-datepicker__button:hover .the-datepicker__button-content,
.the-datepicker__main--darkmode.the-datepicker__main td.the-datepicker__cell--selected.the-datepicker__cell--highlighted a.the-datepicker__button:hover .the-datepicker__button-content {
  background-color: #007eff
}
.the-datepicker__main .the-datepicker__animated {
  -webkit-animation-duration: .1s;
  animation-duration: .1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}
.the-datepicker__deselect {
  position: absolute
}
.the-datepicker__deselect .the-datepicker__deselect-button {
  position: relative;
  left: -.8em;
  text-decoration: none;
  color: #007eff;
  font-weight: 700
}
.the-datepicker__deselect .the-datepicker__deselect-button:hover {
  text-decoration: none
}
.the-datepicker__fade-out-left {
  -webkit-animation-name: the-datepicker-fade-out-left;
  animation-name: the-datepicker-fade-out-left
}
.the-datepicker__fade-out-right {
  -webkit-animation-name: the-datepicker-fade-out-right;
  animation-name: the-datepicker-fade-out-right
}
.the-datepicker__fade-in-left {
  -webkit-animation-name: the-datepicker-fade-in-left;
  animation-name: the-datepicker-fade-in-left
}
.the-datepicker__fade-in-right {
  -webkit-animation-name: the-datepicker-fade-in-right;
  animation-name: the-datepicker-fade-in-right
}
.the-datepicker__fade-out-up {
  -webkit-animation-name: the-datepicker-fade-out-up;
  animation-name: the-datepicker-fade-out-up
}
.the-datepicker__fade-out-down {
  -webkit-animation-name: the-datepicker-fade-out-down;
  animation-name: the-datepicker-fade-out-down
}
.the-datepicker__fade-in-up {
  -webkit-animation-name: the-datepicker-fade-in-up;
  animation-name: the-datepicker-fade-in-up
}
.the-datepicker__fade-in-down {
  -webkit-animation-name: the-datepicker-fade-in-down;
  animation-name: the-datepicker-fade-in-down
}
@-webkit-keyframes the-datepicker-fade-out-left {
  from {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
  to {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0)
  }
}
@keyframes the-datepicker-fade-out-left {
  from {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
  to {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0)
  }
}
@-webkit-keyframes the-datepicker-fade-out-right {
  from {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
  to {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0)
  }
}
@keyframes the-datepicker-fade-out-right {
  from {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
  to {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0)
  }
}
@-webkit-keyframes the-datepicker-fade-in-left {
  from {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0)
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
@keyframes the-datepicker-fade-in-left {
  from {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0)
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
@-webkit-keyframes the-datepicker-fade-in-right {
  from {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0)
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
@keyframes the-datepicker-fade-in-right {
  from {
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0)
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
@-webkit-keyframes the-datepicker-fade-out-up {
  from {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
  to {
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0)
  }
}
@keyframes the-datepicker-fade-out-up {
  from {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
  to {
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0)
  }
}
@-webkit-keyframes the-datepicker-fade-out-down {
  from {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
  to {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0)
  }
}
@keyframes the-datepicker-fade-out-down {
  from {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
  to {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0)
  }
}
@-webkit-keyframes the-datepicker-fade-in-up {
  from {
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0)
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
@keyframes the-datepicker-fade-in-up {
  from {
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0)
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
@-webkit-keyframes the-datepicker-fade-in-down {
  from {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0)
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
@keyframes the-datepicker-fade-in-down {
  from {
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0)
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
}
.the-datepicker__deselect-button {
  font-weight: 600!important;
  font-size: 20px;
  left: -13px!important;
  top: -4px!important
}
.the-datepicker__container {
  width: auto;
  padding: 0
}
.the-datepicker__main {
  min-width: 340px;
  max-width: 340px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  padding: 0 16px
}
.the-datepicker__main .the-datepicker__close {
  position: absolute;
  top: 30px;
  right: 20px
}
.the-datepicker__main .the-datepicker__close a {
  font-size: 0;
  width: 16px;
  height: 16px;
  background: url(../img/icon-close-gray.svg) 0 0 no-repeat
}
.the-datepicker__main .the-datepicker__navigation {
  width: calc(100% - 50px)!important
}
.the-datepicker__main .the-datepicker__go {
  display: none!important
}
.the-datepicker__main .the-datepicker__state {
  width: 100%
}
.the-datepicker__main .the-datepicker__month {
  padding: 0 10px 0 0;
  text-align: right
}
.the-datepicker__main .the-datepicker__month select {
  margin-left: auto
}
.the-datepicker__main .the-datepicker__select,
.the-datepicker__main .the-datepicker__year-button {
  background: #fdfaff!important;
  border: .5px solid F7F7F7!important;
  border-radius: 4px!important;
  padding: 7px 4px!important;
  letter-spacing: .01em!important;
  color: #7715cd!important
}
.the-datepicker__main .the-datepicker__month {
  width: 58%
}
.the-datepicker__main .the-datepicker__year {
  width: 42%
}
.the-datepicker__main .the-datepicker__year-button {
  padding: 7px 5px!important;
  height: 30px
}
.the-datepicker__main .the-datepicker__table {
  width: 100%!important
}
.the-datepicker__main .the-datepicker__week-day,
.the-datepicker__main thead {
  background-color: #fff!important;
  font-weight: 600!important;
  color: #757575!important
}
.the-datepicker__main tr {
  border: initial!important
}
.the-datepicker__main tr::after {
  display: none!important
}
.the-datepicker__main .the-datepicker__cell {
  padding: 3px 0
}
.the-datepicker__main .the-datepicker__day-content {
  color: #757575
}
.the-datepicker__main .the-datepicker__day--button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100%
}
.the-datepicker__main .the-datepicker__day--button:hover .the-datepicker__button-content {
  width: 32px;
  height: 32px;
  margin-left: -2px;
  border-radius: 50%!important
}
.the-datepicker__main .the-datepicker__cell--selected a.the-datepicker__day--button .the-datepicker__button-content {
  background-color: #7715cd;
  width: 32px;
  height: 32px;
  border-radius: 50%!important;
  color: #fff
}
.datepicker {
  background: url(../img/icon-calendar.svg) calc(100% - 12px) 12px no-repeat;
  min-width: 100px
}
@media (min-width:37.5em) {
  body.the-datepicker-page {
    overflow: auto
  }
  .the-datepicker__container.the-datepicker__container--responsive {
    position: absolute;
    left: auto;
    top: auto
  }
  .the-datepicker__container--responsive .the-datepicker__main {
    width: auto;
    height: auto
  }
  .the-datepicker__container.the-datepicker__container--responsive .the-datepicker__main a.the-datepicker__day-button {
    width: 2.1em
  }
  .the-datepicker__container.the-datepicker__container--responsive .the-datepicker__main a.the-datepicker__year-cell-button {
    width: 3.825em
  }
  .the-datepicker__container.the-datepicker__container--responsive .the-datepicker__main table.the-datepicker__table {
    width: auto
  }
}
@media (min-width:64.06125em) {
  .more-menu-items .menu-item:not(:last-child) a {
    border-bottom: .5px solid #f7f7f7
  }
  .more-menu-items a {
    padding: 13px 18px 13px 18px
  }
  .more-menu-items img {
    margin-right: 20px
  }
  .more-menu-items {
    position: absolute;
    top: 100%;
    left: -73px;
    background-color: #29353d;
    padding: 10px;
    height: 20px;
    overflow: hidden
  }
  .more-menu-items .menu-item {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-top: -20vh;
    opacity: 0;
    transition: all .3s linear 0s
  }
  .more-menu-items .menu-item a {
    opacity: 0;
    transition: opacity .1s linear 0s
  }
  .menu-item._open .more-menu-items {
    height: initial
  }
  .menu-item._open .more-menu-items .menu-item {
    opacity: 1;
    margin-top: 0
  }
  .menu-item._open .more-menu-items .menu-item a {
    opacity: 1
  }
}
@media (min-width:94.375em) {
  .main-title__title {
    font-size: 1.75rem
  }
  .top-line__title {
    font-size: 1.5rem
  }
  .top-line__amount {
    font-size: 1.5rem
  }
  .content-block-2__title {
    font-size: 1.5rem
  }
  .content-block-2__subtitle {
    font-size: 1.5rem
  }
  .content-block-4__title {
    font-size: 1.5rem
  }
}
@media (min-width:1400px) {
  .page {
    padding-left: 10.4%;
    padding-right: 10.4%
  }
  .header {
    padding-left: 10.4%;
    padding-right: 10.4%
  }
}
@media (max-width:1300px) {
  .content__col {
    gap: 24px
  }
  .content-block {
    padding: 30px 30px 20px
  }
  .content-block-1__row {
    flex-direction: column
  }
}
@media (max-width:993px) {
  .content__blocks {
    display: block
  }
  .content__col {
    display: block
  }
  .content-block {
    margin-bottom: 24px
  }
}
@media (max-width:20em) {
  .main-title__title {
    font-size: 1rem
  }
  .top-line__title {
    font-size: 1rem
  }
  .top-line__amount {
    font-size: 1rem
  }
  .content-block-2__title {
    font-size: 1rem
  }
  .content-block-2__subtitle {
    font-size: 1.25rem
  }
  .content-block-4__title {
    font-size: 1rem
  }
}
@media (max-width:64.06125em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0;
    width: 75%
  }
  .icon-menu::after {
    bottom: 0;
    width: 50%
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::after,
  .menu-open .icon-menu::before {
    width: 100%
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .mobile-elements {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center
  }
  .mobile-elements .header__logo {
    width: 81px!important;
    height: 47px!important
  }
  .mobile-elements .header__logo img {
    width: 81px;
    height: 47px
  }
  .menu-header {
    position: absolute;
    top: 0;
    right: 100%;
    min-height: 100vh;
    width: 80%;
    background-color: #29353d;
    z-index: 2;
    transition: all .3s ease 0s;
    flex-direction: column;
    justify-content: initial!important;
    align-items: initial!important;
    padding: 20px
  }
  .menu-open .menu-header {
    right: 20%
  }
  .menu-open .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.5)
  }
  .menu-header__body {
    height: 100%;
    max-height: calc(100vh - 160px);
    overflow: scroll
  }
  .nav-menu {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: flex-start!important;
    justify-content: flex-start!important;
    flex-direction: column!important;
    gap: 24px
  }
  .nav-menu a {
    display: flex;
    align-items: center
  }
  .menu-item {
    text-align: left;
    padding: 0!important
  }
  .current-menu-item {
    background-color: initial!important
  }
  .menu-item__more-links {
    display: none!important
  }
  .more-menu-items {
    position: relative!important;
    top: initial!important;
    margin-top: 0!important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: flex-start!important;
    justify-content: flex-start!important;
    flex-direction: column!important;
    gap: 24px
  }
  .more-menu-items a {
    display: flex;
    align-items: center
  }
  .menu-item-support {
    border-radius: 0!important;
    padding-top: 24px!important;
    border-top: 1px solid #fff
  }
  .main-title__container {
    padding-top: 35px;
    padding-bottom: 35px
  }
  .menu-item img {
    margin-right: 14px;
    display: block
  }
  .drafts-count {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7715cd;
    padding: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 133%;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    margin-left: 10px
  }
  .set-target {
    font-size: 17px
  }
  .five-clients__client:not(:last-child) {
    margin-bottom: 40px
  }
  .create-invoice-buttons .blue-button,
  .create-invoice-buttons .grey-button {
    margin-bottom: 50px
  }
  .central-text {
    font-size: 16px
  }
}
@media (max-width:64.06125em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em) {
  #all-actions .popup__content,
  #newtarget .popup__content {
    max-width: 354px
  }
  .main-title__container {
    padding-top: 30px;
    padding-bottom: 30px
  }
  .main-title .actions {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    cursor: pointer
  }
  .select__content {
    font-size: 16px!important
  }
  .form-row {
    flex-wrap: wrap
  }
  .form-row__col {
    flex: 1 1 100%
  }
  .blue-button {
    padding: 13px 20px;
    font-size: 14px
  }
  .mob-to-center {
    margin-left: auto;
    margin-right: auto
  }
  p {
    font-size: 13px
  }
  .blue-border {
    border-top: 8px solid #7715cd
  }
  .header__container {
    gap: 35px
  }
  .menu-header__right-col {
    gap: 30px
  }
  .content-block {
    padding: 25px 20px 20px
  }
  .top-line__title {
    margin-top: 5px
  }
  .content-block-1 .top-line {
    flex-direction: column
  }
  .content-block-1 .button-create-invoice {
    order: 1;
    margin-bottom: 20px;
    margin-left: auto;
    font-size: 14px;
    gap: 6px;
    padding: 7px 12px
  }
  .content-block-1 .top-line__title {
    order: 2;
    margin-bottom: 30px
  }
  .content-block-1 .statistic__col {
    font-size: 14px
  }
  .content-block-1 .total {
    font-size: 16px
  }
  .statistic__row {
    gap: 10px
  }
  .set-target {
    font-size: 16px
  }
  .content-block-3 .select__option {
    font-size: 15px
  }
  .five-clients__client:not(:last-child) {
    margin-bottom: 24px
  }
  .table td,
  .table th {
    padding: 12px 8px 12px 4%
  }
  .table-pc {
    display: none
  }
  .table-mobile {
    display: table
  }
  .table-mobile td {
    font-size: 13px
  }
  .table__client {
    font-weight: 600
  }
  .table__date {
    text-align: right!important;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end
  }
  .wrapper-scroll {
    margin: 0 -12px
  }
  .table-invoice thead {
    font-size: 10px
  }
  .table-invoice td,
  .table-invoice th {
    font-size: 9px;
    padding: 12px 8px!important
  }
  .summary__row {
    font-size: 12px;
    gap: 20px
  }
  .summary__col {
    padding: 10px 14px
  }
  .form-row-details {
    display: block
  }
  .form-row-details .form-row__col:not(:last-child) {
    margin-bottom: 30px
  }
  .add-note {
    justify-content: flex-start
  }
  .created {
    text-align: center
  }
  .top-line--invoice {
    gap: 25px
  }
  .invoice-info {
    font-size: 13px
  }
  .invoice-row__col {
    font-size: 13px
  }
  .invoice-row__label {
    font-size: 15px
  }
  .central-text {
    font-size: 14px
  }
  .details__row a {
    font-size: 11px
  }
  .blue-button.new-row {
    width: 100%
  }
}
@media (max-width:29.99875em) {
  .main-title__container {
    padding-top: 20px;
    padding-bottom: 20px
  }
  .main-title .actions {
    top: 20px;
    right: 20px
  }
  .select__content {
    font-size: 15px!important
  }
  .header__container {
    gap: 30px
  }
  .header__logo {
    width: 100px;
    height: 59px
  }
  .menu-header__right-col {
    gap: 20px
  }
  .content-block {
    padding: 20px 12px
  }
  .content-block-1 .button-create-invoice {
    font-size: 12px
  }
  .set-target {
    font-size: 15px
  }
  .content-block-3 .top-line {
    border-bottom: initial;
    margin-bottom: 0
  }
  .content-block-3 .top-line {
    flex-wrap: wrap
  }
  .content-block-3 .top-line .top-line__select {
    margin-left: auto;
    margin-right: 0
  }
  .content-block-3 .top-line .top-line__select .select__option {
    font-size: 15px
  }
  .content-block-3 .top-line .top-line__amount {
    flex: 0 0 100%;
    padding-top: 20px
  }
  .view-all {
    padding: 0 10px 0 0
  }
  .diagram2__number {
    font-size: 30px
  }
  .create-invoice-buttons .blue-button,
  .create-invoice-buttons .grey-button {
    flex: 0 1 165px
  }
  .top-line--invoice .top-line__col {
    min-width: 120px;
    flex: 0 1 47%
  }
  .top-line--invoice .top-line__col img {
    width: 100%
  }
  .invoice-info {
    font-size: 12px
  }
  .invoice-row__col {
    font-size: 12px
  }
  .invoice-row__label {
    font-size: 14px
  }
  .central-text {
    font-size: 12px
  }
}
@media (min-width:20em)and (max-width:94.375em) {
  .main-title__title {
    font-size: clamp(1rem ,.7983193277rem + 1.0084033613vw ,1.75rem)
  }
  .top-line__title {
    font-size: clamp(1rem ,.8655462185rem + .6722689076vw ,1.5rem)
  }
  .top-line__amount {
    font-size: clamp(1rem ,.8655462185rem + .6722689076vw ,1.5rem)
  }
  .content-block-2__title {
    font-size: clamp(1rem ,.8655462185rem + .6722689076vw ,1.5rem)
  }
  .content-block-2__subtitle {
    font-size: clamp(1.25rem ,1.1827731092rem + .3361344538vw ,1.5rem)
  }
  .content-block-4__title {
    font-size: clamp(1rem ,.8655462185rem + .6722689076vw ,1.5rem)
  }
}